<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>api.page.Register</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Deregister</servlet-name>
    <servlet-class>api.page.Deregister</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetInfoSub</servlet-name>
    <servlet-class>api.page.GetInfoSub</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetInfoAllSub</servlet-name>
    <servlet-class>api.page.GetInfoAllSub</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeregisterAll</servlet-name>
    <servlet-class>api.page.DeregisterAll</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetTransaction</servlet-name>
    <servlet-class>api.page.GetTransaction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeMSISDN</servlet-name>
    <servlet-class>api.page.ChangeMSISDN</servlet-class>
  </servlet>
   <context-param>
      <param-name>DBConfigPath</param-name>
      <param-value>D:\2.Java\.metadata\.me_tcat7\webapps\MTrafficAPI\ProxoolConfig.xml</param-value>     
  </context-param>
  <context-param>
      <param-name>LogConfigPath</param-name>
      <param-value>D:\2.Java\.metadata\.me_tcat7\webapps\MTrafficAPI\log4j.properties</param-value>     
  </context-param>
  
  <context-param>
    <param-name>LogDataFolder</param-name>
    <param-value>D:\2.Java\.metadata\.me_tcat7\webapps\MTrafficAPI\LogFile\</param-value>
  </context-param>
  
  <context-param>
    <param-name>MySQLPoolName</param-name>
    <param-value>MySQL</param-value>
  </context-param>
  
  <context-param>
    <param-name>MSSQLPoolName</param-name>
    <param-value>MSSQL</param-value>
  </context-param>
  <context-param>
    <param-name>VNPURLCharging</param-name>
    <param-value>http://localhost:8082/MTraffic_DataSync_V2/VNPCharge_TEst.ashx</param-value>
  </context-param>
  <context-param>
    <param-name>VNPCPName</param-name>
    <param-value>MTRAFFIC</param-value>
  </context-param>
  <context-param>
    <param-name>VNPUserName</param-name>
    <param-value>mtraffic</param-value>
  </context-param>
  <context-param>
    <param-name>VNPPassword</param-name>
    <param-value>mtraffic#1235</param-value>
  </context-param>
  <context-param>
    <param-name>LogDataFolder</param-name>
    <param-value>.\\LogFile\\</param-value>
  </context-param>
  <context-param>
    <param-name>DELAY_SENT_MT</param-name>
    <param-value>50</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Deregister</servlet-name>
    <url-pattern>/servlet/Deregister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInfoSub</servlet-name>
    <url-pattern>/servlet/GetInfoSub</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInfoAllSub</servlet-name>
    <url-pattern>/servlet/GetInfoAllSub</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeregisterAll</servlet-name>
    <url-pattern>/servlet/DeregisterAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTransaction</servlet-name>
    <url-pattern>/servlet/GetTransaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeMSISDN</servlet-name>
    <url-pattern>/servlet/ChangeMSISDN</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>api.process.InitApp</listener-class>
  </listener>
</web-app>